<div class="container-fluid">
    <div ng-show="error != null" class="col-md-6 col-md-offset-3 alert alert-danger text-center">
        <strong>{{error}}</strong>
    </div>

    <div ng-show="error == null"class="row board">
        <div ng-repeat="list in board.lists" class="col-sm-2 card-list" ng-show="list.archive == false">
            <div class="card-list-heading">
                <a ng-show="!listInput" ng-click="listInput = true" href="" class="list"><h3 class="card-list-title">{{list.name}}</h3></a>
                <input ng-show="listInput" type="text" ng-model="list.name" value="list.name" class="list list-editable">


                <span class="center-block text-center">
						<button ng-show="listInput && !isListFirst(list)" ng-click="moveList(list, -1); listInput = false"
                                class="btn list-button-manage"><i class="fa fa-backward" aria-hidden="true"></i></button>
                        <button ng-show="listInput" ng-click="updateList(list); listInput = false"
                                class="btn btn-success list-button-manage"><i class="fa fa-check" aria-hidden="true"></i></button>
                        <button ng-show="listInput" ng-click="removeList(list); listInput = false"
                                class="btn btn-danger list-button-manage"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                        <button ng-show="listInput" ng-click="archiveList(list); listInput = false"
                                class="btn btn-default list-button-manage"><i class="fa fa-archive" aria-hidden="true"></i></button>
						<button ng-show="listInput && !isListLast(list)" ng-click="moveList(list, 1); listInput = false"
                                class="btn list-button-manage"><i class="fa fa-forward" aria-hidden="true"></i></button>
                </span>
            </div>

            <div class="card-list-body">
                <div ng-repeat="card in list.cards" class="list-group">
                    <a ng-show="!cardInput" ng-click="cardInput = true" href="" class="card">{{card.name}}</a>
                    <input ng-show="cardInput" type="text" ng-model="card.name" value="card.name" class="card card-editable">

                    <span class="center-block text-center">
						<button ng-show="cardInput && !isListFirst(list)" ng-click="transferCardToNextList(card, list, -1); cardInput = false"
                                class="btn list-button-manage"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
						<button ng-show="cardInput && !isCardFirst(list, card)" ng-click="moveCard(list, card, -1); cardInput = false"
                                class="btn list-button-manage"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>
                        <button ng-show="cardInput" ng-click="updateCard(card,list); cardInput = false"
                                class="btn btn-success card-button-manage"><i class="fa fa-check" aria-hidden="true"></i></button>
                        <button ng-show="cardInput" ng-click="removeCard(card,list); cardInput = false"
                                class="btn btn-danger card-button-manage"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
						<button ng-show="cardInput && !isCardLast(list, card)" ng-click="moveCard(list, card, 1); cardInput = false"
                                class="btn list-button-manage"><i class="fa fa-arrow-down" aria-hidden="true"></i></button>
						<button ng-show="cardInput && !isListLast(list)" ng-click="transferCardToNextList(card, list, 1); cardInput = false"
                                class="btn list-button-manage"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                    </span>
                </div>

                <div class="center-block text-center">
                    <button class="btn btn-success card-button-add" ng-click="addCard(list)">
                        <i class="fa fa-plus" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>

        <div class="col-sm-1 card-list">
            <div class="card-list-body">
                <div class="center-block text-center">
                    <button class="btn btn-success card-button-add" ng-click="addList()">
                        <i class="fa fa-plus" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>

        <div class="dropdown navbar-right">
            <a href="" class="dropdown-toggle dropdown-toggle-archive" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="hidden-sm">Archive</span>
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li ng-repeat="list in board.lists">
                    <a ng-click="returnArchiveList(list)" ng-show="list.archive == true">{{list.name}}</a>
                </li>
            </ul>
        </div>
    </div>
	
	<button type="button" ng-click="showDiary = !showDiary">Diary</button>
	<div ng-show="showDiary">
		<p ng-repeat="rec in board.diary">{{fmtRecord(rec);}}</p>
	</div>

</div>