<div class="container-fluid">
    <div ng-show="error != null" class="col-md-6 col-md-offset-3 alert alert-danger text-center">
        <strong>{{error}}</strong>
    </div>

    <div ng-show="error == null"class="row board col-md-12">
        <div ng-repeat="list in board.lists" class="col-sm-2 card-list" ng-show="list.archive == false">
            <div class="card-list-heading">
                <a ng-show="!listInput" ng-click="listInput = true" href="" class="list">
                    <h3 class="card-list-title">{{list.name}}</h3>
                </a>
                <input ng-show="listInput" type="text" ng-model="list.name" value="list.name" class="list list-editable">


                <span class="center-block text-center">
						<button ng-show="listInput && !isListFirst(list)" ng-click="moveList(list, -1); listInput = false"
                                class="btn list-button-manage">
                            <i class="fa fa-backward" aria-hidden="true"></i>
                        </button>
                        <button ng-show="listInput" ng-click="updateList(list); listInput = false"
                                class="btn btn-success list-button-manage">
                            <i class="fa fa-check" aria-hidden="true"></i>
                        </button>
                        <button ng-show="listInput" ng-click="archiveList(list); listInput = false"
                                class="btn btn-default list-button-manage">
                            <i class="fa fa-archive" aria-hidden="true"></i>
                        </button>
						<button ng-show="listInput && !isListLast(list)" ng-click="moveList(list, 1); listInput = false"
                                class="btn list-button-manage">
                            <i class="fa fa-forward" aria-hidden="true"></i>
                        </button>
                </span>
            </div>

            <div class="card-list-body">
                <div ng-repeat="card in list.cards" class="list-group" ng-show="card.archive == false">

                    <span ng-repeat="label in card.labels" class="label-mark" style="background-color: {{label.color}}"
                          title="{{label.name}}">&nbsp;
                    </span>
                    <div class="clearfix"></div>

                    <a ng-show="!cardInput" ng-click="cardInput = true" href="" class="card">{{card.name}}</a>
                    <input ng-show="cardInput" type="text" ng-model="card.name" value="card.name" class="card card-editable">

                    <span class="center-block text-center">
                        <div>
                            <button ng-show="cardInput" ng-click="updateCard(card,list);
                                cardInput = false" class="btn btn-success card-button-manage">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </button>
                            <button ng-show="cardInput" ng-click="archiveCard(card,list);
                                cardInput = false" class="btn btn-default card-button-manage">
                                <i class="fa fa-archive" aria-hidden="true"></i>
                            </button>
                            <button ng-show="cardInput" class="btn btn-warning card-button-manage" ui-sref="board.card({cardId:card.id})">
                                <i class="fa fa-list-alt" aria-hidden="true"></i>
                            </button>
                            <button ng-show="cardInput" ng-click="cardMenu = true;
                                cardInput = false" class="btn btn-default card-button-manage">
                                <i class="fa fa-asterisk" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div>
                            <button ng-show="cardInput && !isListFirst(list)" ng-click="transferCardToNextList(card, list, -1);
                                cardInput = false" class="btn btn-primary card-button-manage">
                                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                            </button>
						    <button ng-show="cardInput && !isCardFirst(list, card)" ng-click="moveCard(list, card, -1);
						        cardInput = false" class="btn btn-primary card-button-manage">
                                <i class="fa fa-arrow-up" aria-hidden="true"></i>
                            </button>
                            <button ng-show="cardInput && !isCardLast(list, card)" ng-click="moveCard(list, card, 1);
                                cardInput = false" class="btn btn-primary card-button-manage">
                                <i class="fa fa-arrow-down" aria-hidden="true"></i>
                            </button>
                            <button ng-show="cardInput && !isListLast(list)" ng-click="transferCardToNextList(card, list, 1);
                                cardInput = false" class="btn btn-primary card-button-manage">
                                <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            </button>
                        </div>
                    </span>

                    <div class="card-menu" ng-show="cardMenu">
                        <button ng-click="cardMenu = false" class="btn btn-info menu-close-btn">
                            <i class="fa fa-close" aria-hidden="true"></i>
                        </button>
                        <div>
                            <h4>Labels</h4>
                            <ul style="list-style-type: none;">
                                <li class="label-item" ng-repeat="availLab in board.availableLabels">
                                    <div class="tbl-cell">
                                        <input type="checkbox" ng-checked="hasCardLabel(card, availLab)" ng-click="toggleLabel(card, availLab)">
                                    </div>
                                    <div class="label-bar-cell">
                                        <input ng-show="labelInput" class="label-bar" style="background-color: {{availLab.color}};"
                                               type="text" ng-model="availLab.name" value="availLab.name">
                                        <span ng-show="!labelInput" class="label-bar" style="background-color: {{availLab.color}};">
                                            &nbsp;{{availLab.name}}
                                        </span>
                                    </div>
                                    <div class="tbl-cell">
                                        <input class="tbl-cell" ng-show="labelInput" type="color" ng-model="availLab.color"
                                               style="margin-left: 10px; margin-right: 5px;">
                                    </div>
                                    <div class="tbl-cell">
                                        <button ng-show="!labelInput" type="button" class="btn btn-default tbl-cell"
                                                ng-click="labelInput = true;"><i class="fa fa-edit" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                    <div class="tbl-cell">
                                        <button ng-show="labelInput" type="button" class="btn btn-success tbl-cell" style="margin-right: 5px;"
                                                ng-click="updateLabel(availLab); labelInput = false;"><i class="fa fa-check" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                    <div class="tbl-cell">
                                        <button ng-show="labelInput" type="button" class="btn btn-danger tbl-cell"
                                                ng-click="removeLabel(availLab)"><i class="fa fa-remove" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </li>
                            </ul>
                            <button class="btn btn-success" ng-click="createLabel();"><i class="fa fa-plus" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>

                <div class="center-block text-center">
                    <button class="btn btn-success card-button-add" ng-click="addCard(list)">
                        <i class="fa fa-plus" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>

        <div class="col-sm-1 card-list">
            <div class="card-list-body">
                <div class="center-block text-center">
                    <button class="btn btn-success card-button-add" ng-click="addList()">
                        <i class="fa fa-plus" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>

        <div class="dropdown navbar-right">
            <button class="btn btn-default" data-toggle="dropdown" role="button">
                <span>Archive</span>
                <span class="caret"></span>
            </button>

            <ul class="dropdown-menu archive-menu">
                <h4>Lists:</h4>
                <li ng-repeat="list in board.lists" class="archive-menu-item">
                    <button ng-click="returnArchiveList(list)" ng-show="list.archive == true"
                            class="btn btn-default archive-button-item">{{list.name}}</button>
                    <button ng-show="list.archive == true" ng-click="removeList(list)"
                            class="btn btn-danger archive-button-remove"><i class="fa fa-trash-o" aria-hidden="true"></i>
                    </button>
                </li>

                <hr>

                <h4>Cards:</h4>
                <div ng-repeat="list in board.lists">
                    <li ng-repeat="card in list.cards">
                        <button ng-click="returnArchiveCard(card, list)" ng-show="card.archive == true"
                                class="btn btn-default archive-button-item">{{card.name}}({{list.name}}</button>
                        <button ng-show="card.archive == true" ng-click="removeCard(card, list)"
                                class="btn btn-danger archive-button-remove"><i class="fa fa-trash-o" aria-hidden="true"></i>
                        </button>
                    </li>
                </div>
            </ul>
        </div>
		
		<div class="dropdown navbar-right">
			<button class="btn btn-default" data-toggle="dropdown" role="button">
                <span>Members</span>
                <span class="caret"></span>
            </button>
			<ul class="dropdown-menu">
				<li ng-repeat="member in board.members">
					<span>{{member.login}}</span>
					<button type="button" class="btn btn-danger" ng-click="removeMember(member)"><i class="fa fa-remove" aria-hidden="true"></i></button>
				</li>
				<hr>
				<li ng-repeat="user in users | filter:isUserNotAMember">
					<span>{{user.login}}</span>
					<button type="button" class="btn btn-success" ng-click="addMember(user)"><i class="fa fa-plus" aria-hidden="true"></i></button>
				</li>
			</ul>
		</div>

        <div class="clearfix"></div>
        <div>
            <button class="btn btn-default diary-btn" type="button" ng-click="showDiary = !showDiary">Diary</button>
            <div ng-show="showDiary" class="diary">
                <p ng-repeat="rec in board.diary" class="diary-item">
                    <b>{{fmtDate(rec.timestamp)}}</b> by <em>{{rec.user}}</em> | {{fmtRecord(rec)}}
                </p>
            </div>
        </div>
    </div>
</div>