<div class="card-window">
    <div class="card-window-header">
        <h3 class="modal-title">{{card.name}}</h3>
    </div>

    <div class="card-window-body">
        <div class="col-xs-8" ng-switch="view">
            <!--Comments-->
            <div ng-if="view === VIEWS.COMMENTS">
                <div class="card-window-body-info">
                    <h3 translate="CARD_COMMENTS">Comments</h3>

                    <textarea ng-model="$parent.commentContent"></textarea>
                    <button ng-click="addComment(commentContent)" class="btn btn-success" translate="ADD_COMMENT">Add Comment</button>
                </div>

                <ul class="card-window-body-content">
                    <li ng-repeat="comment in card.comments | orderBy:'id':true" class="list-group-item">
                        <span class="col-xs-2">
                           <strong>{{comment.author | limitTo: 10}}{{comment.author.length > 10 ? '...' : ''}}</strong>:
                        </span>

                        <span class="col-xs-8">
                            <span ng-show="!commentEdit">
                                {{comment.content | limitTo: 40}}{{comment.content.length > 40 ? '...' : ''}}
                            </span>
                            <input ng-show="commentEdit" type="text" ng-model="comment.content"
                                   value="comment.content">
                        </span>

                        <span class="col-xs-2">
                            <button class="btn btn-default btn-xs" ng-click="commentEdit = true"
                                    ng-show="(comment.author == user.login) && !commentEdit">
                                <i class="fa fa-edit"></i>
                            </button>
                            <button class="btn btn-default btn-xs" ng-click="updateComment(comment); commentEdit = false" ng-show="commentEdit">
                                <i class="fa fa-check"></i>
                            </button>
                            <button class="btn btn-danger btn-xs" ng-click="removeComment(comment,card)" ng-show="!commentEdit">
                                <i class="fa fa-remove"></i>
                            </button>
                        </span>
                        <span class="col-xs-5">
                            <small ng-show="!commentEdit">{{comment.date | date: 'medium'}}</small>
                        </span>
                        <div class="clearfix"></div>
                    </li>
                </ul>
            </div>

            <!--Attachments-->
            <div ng-if="view === VIEWS.ATTACHMENTS">
                <div class="card-window-body-info">
                    <h3 translate="ATTACHMENTS">Attachments</h3>

                    <form name="form" ng-submit="submit(file)">
                        <div class="input-group">
                            <label class="input-group-btn">
                                <span class="btn btn-primary">
                                    <span translate="BROWSE">Browse&hellip;</span> <input type="file" ngf-select style="display: none;" ng-model="$parent.file">
                                </span>
                            </label>

                            <input type="text" class="form-control" readonly>
                        </div>

                        <button style="margin-top: 20px;" class="btn btn-info" type="submit" translate="UPLOAD">
                            <i class="fa fa-send"></i>  Upload
                        </button>
                    </form>
                </div>

                <ul class="card-window-body-content">
                    <li class="list-group-item" ng-repeat="attachment in card.attachments">
                        <span class="col-xs-2">
                            <a href="/cards/attachments/{{attachment.id}}" class="btn btn-success btn-xs">
                                <i class="fa fa-download"></i>
                            </a>
                            <button ng-click="removeAttachment(attachment.id)" class="btn btn-danger btn-xs">
                                <i class="fa fa-remove"></i>
                            </button>
                        </span>
                        <span class="col-xs-8" style="padding-left: 10px;" data-toggle="tooltip"
                              title="Created: {{attachment.createdDate}}">
                            {{attachment.fileName | limitTo: 40}}{{attachment.fileName.length > 40 ? '...' : ''}}
                        </span>
                        <span class="col-xs-2">
                            {{attachment.author | limitTo: 10}}{{attachment.author.length > 10 ? '...' : ''}}
                        </span>
                        <div class="clearfix"></div>
                    </li>
                </ul>
            </div>

            <!-- COMPLETION DATE -->
            <div ng-if="view === VIEWS.COMPLETION_DATE">
                <div class="card-window-body-info">
                    <h3 translate="COMPLETION_DATE">Completion Date</h3>

                    <p class="input-group">
                        <input type="text" class="form-control" datetime-picker="dd MMM yyyy HH:mm" ng-model="$parent.dateTime" is-open="datePickerOpenStatus.date"  />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openCalendar($event, prop)">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </span>
                    </p>

                    <div class="input-group" style="margin-top: 10px;">
                        <button class="btn btn-success" ng-if="isDefined(completionDate.id)" ng-click="changeCompletionDate()">
                            Update
                        </button>
                        <button class="btn btn-success" ng-if="!isDefined(completionDate.id)" ng-click="addCompletionDate()">
                            Add
                        </button>
                        <button class="btn btn-danger" ng-if="completionDate !== null" style="margin-left: 10px;">Delete</button>
                    </div>
                </div>

                <div class="card-window-body-content"></div>
            </div>
        </div>

        <div class="col-xs-4 text-center">
            <button class="btn btn-default card-window-nav-button" ng-click="changeView(VIEWS.ATTACHMENTS)"
                    translate="ATTACHMENTS">Attachments</button>
            <button class="btn btn-default card-window-nav-button" ng-click="changeView(VIEWS.COMMENTS)"
                    translate="CARD_COMMENTS">Comments</button>
            <button class="btn btn-default card-window-nav-button" ng-click="changeView(VIEWS.COMPLETION_DATE)"
                    translate="COMPLETION_DATE">Completion Date</button>
        </div>
    </div>

    <div class="clearfix"></div>
    <div class="card-window-footer">
        <button type="button" class="btn btn-info card-window-close-button" data-dismiss="modal" ng-click="close()">
            <span class="fa fa-ban-circle"></span>&nbsp;<span>Close</span>
        </button>
    </div>
</div>