<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Trello-Clone</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="hidden-sm" translate="BOARD_SEARCH">Boards</span>
                        <span class="caret"></span>

                    </a>
                    <ul class="dropdown-menu">
                        <input  type="text" ng-model="filterQuery" placeholder="Search" class="search-field" />
                        <li ng-repeat="board in boards | filter:{name: filterQuery}" >
                            <a ui-sref="board({id:board.id})" href="">{{board.name}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-switch="isAuthenticated()">
                <li style="margin-right: 30px;" class="navbar-text">
                    <span>
                        <a href="" ng-click="changeLanguage('en')">
                            <img ng-src="/assets/img/gb.png" class="language-img-small">
                        </a>
                        <a href="" ng-click="changeLanguage('pl')">
                            <img ng-src="/assets/img/pl.png" class="language-img-small">
                        </a>
                    </span>
                </li>
				<li ng-switch-when="true" class="dropdown">
					<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" ng-click="updateNotificationsViewTime()" ng-switch="areThereNewNotifications()">
						<img ng-switch-when="false" class="notifications-img" ng-src="/assets/img/bell.png">
						<img ng-switch-when="true" class="notifications-img" ng-src="/assets/img/bell-new.png">
					</a>
					<ul class="dropdown-menu notification-menu">
						<li ng-repeat="rec in user.notifications.slice().reverse()" class="notification_item"
                            ng-class="{notification_new:isNewRecord(rec)}">
                            <p><b>{{fmtDate(rec.timestamp)}}</b> by <em>{{rec.user}}</em></p>
                            <p>{{fmtRecord(rec)}}</p>
                            <hr>
                        </li>
					</ul>
				</li>
                <li><a ng-switch-when="true" href="" class="user-login"><span translate="LOGGED_AS">Logged as </span> {{user.login}}</a></li>
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="hidden-sm" translate="ACCOUNT_DROPDOWN">Account</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a ng-switch-when="false" ui-sref="register" href="" translate="REGISTER">Register</a></li>
                        <li><a ng-switch-when="false" ui-sref="login" href="" translate="SIGN_IN">Sign in</a></li>
                        <li><a ng-switch-when="true" ng-click="logout()" href="" translate="SIGN_OUT">Sign out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>