* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #0079BF;
}

.board {
    padding: 10px 30px;
}

.card, .list, .board-item {
    height: 40px;
}

.list {
    width: 100%;
    background-color: gainsboro;
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    border: 1px solid #cbd0dd;
    color: black;
    text-decoration: none;
}

.list-editable {
    background-color: gainsboro;
}

.list-button-manage {
    width: 30%;
    font-size: 10px;
}

.card-list {
    border: #b6b6b6 solid 1px;
    margin: 20px 10px;
    padding: 0;
    background-color: #eef3fa;
    border-radius: 4px;
}

.card-list-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    text-align: left;
}

.card-list-heading {
    width: 100%;
}

.card-list-body {
    padding: 20px;
}

.card {
    width: 100%;
    background-color: #fff9f6;
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    border: 1px solid #ddd;
    color: black;
    text-decoration: none;
}

.card:hover {
    text-decoration: none;
    background-color: rgba(173, 173, 173, 0.61)
}

.card-editable {
    background-color: gainsboro;
}

.card-button-manage {
    width: 40%;
    font-size: 10px;
}

.card-button-add {
    font-size: 10px;
    text-align: center;
}

.board-sign {
    background-color: #b5c0c1;
    min-height: 40px;
    margin: 20px;
}

.board-sign a {
    color: black;
    text-decoration: none;
}

.board-sign a:hover {
    background-color: #e0e0e0;
}

.board-sign-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
    text-align: center;
}

.board-input {
    width: 100%;
    background-color: #fff9f6;
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    border: 1px solid #cbd0dd;
    color: black;
    text-decoration: none;
}

.board-input-editable {
    background-color: #dbe0e7;
}

.board-button-go {
    width: 100%;
    font-size: 10px;
}

.board-button-manage {
    width: 40%;
    font-size: 6px;
}

.board-sign-heading {
    margin: 20px 10px;
    padding: 0;
    border-radius: 4px;
}

.board-add {
    border: #505050 dotted 1px;
    height: 50px;
    line-height: 50px;
    margin: 20px;
    display: inline-block;
}

.navbar-default {
    background-color: #0067A3;
}

.hidden-sm {
    color: white;
}

.navbar-brand {
    color:white !important;
}

.well {
    background-color: gainsboro;
}

.dropdown-toggle:active, .dropdown-toggle {
    background-color: #0067A3 !important;
}

.dropdown-toggle-archive {
    background-color: #0079BF !important;
}

.user-login {
    color: white !important;
}

.register-block, .login-block {
    background-color: #f6f6f6;
    border: #919191 solid 1px;
    border-radius: 4px;
    padding: 20px;
}

.archive-button-item {
    width: 78%;
    height: 100%;
}

.archive-button-remove {
    width: 20%;
}

.archive-menu {
    width: 300px;
    min-height: 400px;
    padding: 10px;
}

.archive-menu-item {
    background-color: #dddddd;
}

.diary-btn {
    width: 150px;
    height: 50px;
    margin-left: 10px;
    margin-top: 200px;
}

.search-field {
    padding: 5px 5px 5px 20px;
    background-color: #f3f3f3;
    border: #b5b5b5 solid 1px;
}