<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>

    <link href="assets/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css">

    <script src="assets/jquery/dist/jquery.js"></script>
    <script src="assets/angular/angular.js"></script>
    <script src="assets/angular-resource/angular-resource.js"></script>
    <script src="assets/bootstrap/dist/js/bootstrap.js"></script>

    <script src="app/app.module.js"></script>

    <script src="app/board/board.controller.js"></script>
    <script src="app/board/board.service.js"></script>
</head>
<body>
    <div class="container-fluid" ng-app="trello" ng-controller="BoardsController">
        <ul class="nav nav-tabs" id="boardList">
            <li ng-repeat="board in boards" ng-class="{ active: isSet(board.id) }">
                <a href ng-click="setTab(board.id)">{{board.name}}</a>
            </li>
        </ul>

        <div ng-repeat="board in boards" ng-show="isSet(board.id)">
            <div class="row">
                <div ng-repeat="list in board.lists" class="panel panel-default col-sm-2">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{list.name}}</h3>
                    </div>
                    <div class="panel-body">
                        <div ng-repeat="card in list.cards" class="list-group">
                            <a href="#" class="list-group-item list-group-item-success">{{card.name}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>